name: GoWindows
on: [push]
jobs:

  build:
    name: Build
    runs-on: windows-latest
    steps:

    - name: Set up Go 1.14
      uses: actions/setup-go@v1
      with:
        go-version: 1.14.1
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1

    - name: Some configuration to limit file system performance
      # https://docs.microsoft.com/en-us/powershell/module/smbshare/set-smbclientconfiguration?view=win10-ps
      # https://docs.microsoft.com/en-us/powershell/module/smbshare/set-smbserverconfiguration?view=win10-ps
      # Set-SmbServerConfiguration -FileInfoCacheLifetime 0 -Force
      run: |
        $identity = [Security.Principal.WindowsIdentity]::GetCurrent()
        $principal = New-Object Security.Principal.WindowsPrincipal $identity
        $isadmin = $principal.IsInRole([Security.Principal.WindowsBuiltinRole]::Administrator)
        net config workstation
        if ($isadmin)
            { net config server
              Set-SmbServerConfiguration -CachedOpenLimit 0 -Force
              Set-SmbServerConfiguration -MaxSessionPerConnection 20 -Force
              Set-SmbServerConfiguration -DurableHandleV2TimeoutInSeconds 0 -Force
              Set-SmbServerConfiguration -PendingClientTimeoutInSeconds 0 -Force
              Get-SmbServerConfiguration
            }

    - name: Get dependencies
      run: go get -v -t -d ./...

    - name: Vet
      run: go vet ./...

    - name: Build
      run: go build -v ./...

    - name: Run
      run: go test -v ./...
